### Imports üìö

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

### Scrape Data üåê

In [2]:
# Select cities to get information about
cities = ['Paphos', 'Rehovot','Rishon-Leziyyon']
htmls = []

#Iterate over cities and scrape data
for city in cities:
    url = f'https://www.numbeo.com/cost-of-living/in/{city}?displayCurrency=EUR'
    data = requests.get(url)

    with open(f'{city}_numbeo.html','w+') as file:
        file.write(data.text)
        htmls.append(file.name)

### Turn to Pandas DataFrames üêº & Clean üßº

In [3]:
df_names = []

for html in htmls:
    # Use beautifulsoup to parse the html file
    soup = BeautifulSoup(open(html),'html.parser')

    # Create a variable to hold only the wanted table
    table = soup.find('table', class_='data_wide_table new_bar_table')

    # Search for the categories
    category_divs = soup.find_all('div', class_='category_title')
    categories = [div.text.strip() for div in category_divs]

    # Turn into a DataFrame
    df = pd.read_html(str(table))[0]

    # Save current category to use in first df rows
    current_category = categories.pop(0)
    df['categories'] = current_category

    # Iterate over the df and assign correct category
    for index, row in df.iterrows():
        if row['Edit'] == 'Edit':
            # Assign the next category from the list
            current_category = categories.pop(0) 
        # Assign the current category to the row
        df.at[index, 'categories'] = current_category  

    # Remove the rows with 'Edit' in the 'Edit' column
    df = df[df['Edit'] != 'Edit']  

    # Rename the Columns
    df = df.rename(columns={'Restaurants': 'Item', 'Edit': 'Average_Price_in_Eur', 'categories': 'Category'})

    # Turn average price to numeric and remove currency notation
    df['Average_Price_in_Eur'] = pd.to_numeric(df['Average_Price_in_Eur'].str.replace('[^\d.]', ''), errors='coerce')

    # Remove commas from the Range column
    df['Range'] = df['Range'].str.replace(',', '')

    # Add a minimum and maximum columns from range column
    df[['Minimum', 'Maximum']] = df['Range'].str.split('-', expand=True)
    df['Minimum'] = pd.to_numeric(df['Minimum'], errors='coerce')
    df['Maximum'] = pd.to_numeric(df['Maximum'], errors='coerce')

    # Remove rows with NaNs in Range or Average Price
    df = df.dropna(subset=['Range', 'Average_Price_in_Eur'])

    df['city'] = html.split('_')[0]

    # Save to csv file
    df.to_csv(f"{html.split('_')[0]}.csv")

    # Append df to df list
    df_names.append((html, df))

# Print the DataFrames
for filename, df in df_names:
    print(f"DataFrame from file: {filename}")
    print(df)
    print()

C:\Users\rotem\AppData\Local\Temp/ipykernel_8672/3683401163.py:36: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Average_Price_in_Eur'] = pd.to_numeric(df['Average_Price_in_Eur'].str.replace('[^\d.]', ''), errors='coerce')

DataFrame from file: Paphos_numbeo.html
                                                 Item  Average_Price_in_Eur  \
0                        Meal, Inexpensive Restaurant                 12.00
1   Meal for 2 People, Mid-range Restaurant, Three...                 45.00
2      McMeal at McDonalds (or Equivalent Combo Meal)                  7.00
3                   Domestic Beer (0.5 liter draught)                  2.80
4                   Imported Beer (0.33 liter bottle)                  3.00
5                                Cappuccino (regular)                  3.19
6                      Coke/Pepsi (0.33 liter bottle)                  1.88
7                           Water (0.33 liter bottle)                  0.81
9                           Milk (regular), (1 liter)                  1.54
10                   Loaf of Fresh White Bread (500g)                  1.35
11                                Rice (white), (1kg)                  1.85
12                                Eggs (regular) (12)                  2.90
13                                 Local Cheese (1kg)                  8.90
14                              Chicken Fillets (1kg)                  6.95
15  Beef Round (1kg) (or Equivalent Back Leg Red M...                  8.31
16                                       Apples (1kg)                  1.91
17                                       Banana (1kg)                  1.21
18                                      Oranges (1kg)                  1.29
19                                       Tomato (1kg)                  1.84
20                                       Potato (1kg)                  0.76
21                                        Onion (1kg)                  0.74
22                                   Lettuce (1 head)                  0.51
23                           Water (1.5 liter bottle)                  0.69
24                         Bottle of Wine (Mid-Range)                  6.00
25                   Domestic Beer (0.5 liter bottle)                  1.08
26                  Imported Beer (0.33 liter bottle)                  1.68
27                      Cigarettes 20 Pack (Marlboro)                  4.95
29                   One-way Ticket (Local Transport)                  1.50
30                       Monthly Pass (Regular Price)                 41.00
31                         Taxi Start (Normal Tariff)                  9.00
32                           Taxi 1km (Normal Tariff)                  1.50
34                                 Gasoline (1 liter)                  1.50
36  Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...              25250.00
38  Basic (Electricity, Heating, Cooling, Water, G...                121.56
39  1 min. of Prepaid Mobile Tariff Local (No Disc...                  0.15
40  Internet (60 Mbps or More, Unlimited Data, Cab...                 33.50
42              Fitness Club, Monthly Fee for 1 Adult                 50.00
43              Tennis Court Rent (1 Hour on Weekend)                 14.00
44              Cinema, International Release, 1 Seat                  9.00
46  Preschool (or Kindergarten), Full Day, Private...                302.50
47   International Primary School, Yearly for 1 Child               6100.00
49             1 Pair of Jeans (Levis 501 Or Similar)                 92.50
50   1 Summer Dress in a Chain Store (Zara, H&M, ...)                 37.00
51           1 Pair of Nike Running Shoes (Mid-Range)                 77.50
52               1 Pair of Men Leather Business Shoes                 83.75
54               Apartment (1 bedroom) in City Centre                744.12
55            Apartment (1 bedroom) Outside of Centre                550.00
56              Apartment (3 bedrooms) in City Centre               1333.33
57           Apartment (3 bedrooms) Outside of Centre               1145.83
59  Price per Square Meter to Buy Apartment in Cit...               1600.00
60  Price per Square Meter to Buy Apartment Outsid...               1162.50
63  Mortgage Interest Rate in Percentages (%), Yea...                  2.51

                Range                Category   Minimum   Maximum    city
0          9.00-15.00             Restaurants      9.00     15.00  Paphos
1         35.00-89.56             Restaurants     35.00     89.56  Paphos
2           6.00-8.00             Restaurants      6.00      8.00  Paphos
3           2.00-4.00             Restaurants      2.00      4.00  Paphos
4           2.50-3.50             Restaurants      2.50      3.50  Paphos
5           2.50-4.00             Restaurants      2.50      4.00  Paphos
6           1.00-2.50             Restaurants      1.00      2.50  Paphos
7           0.50-1.34             Restaurants      0.50      1.34  Paphos
9           1.33-1.80                 Markets      1.33      1.80  Paphos
10          0.65-2.00                 Markets      0.65      2.00  Paphos
11          1.25-2.15                 Markets      1.25      2.15  Paphos
12          1.60-3.60                 Markets      1.60      3.60  Paphos
13         4.50-16.60                 Markets      4.50     16.60  Paphos
14          6.00-9.00                 Markets      6.00      9.00  Paphos
15         5.00-11.61                 Markets      5.00     11.61  Paphos
16          1.00-2.50                 Markets      1.00      2.50  Paphos
17          0.90-3.00                 Markets      0.90      3.00  Paphos
18          0.40-3.00                 Markets      0.40      3.00  Paphos
19          0.99-3.50                 Markets      0.99      3.50  Paphos
20          0.35-1.50                 Markets      0.35      1.50  Paphos
21          0.45-0.85                 Markets      0.45      0.85  Paphos
22          0.35-1.00                 Markets      0.35      1.00  Paphos
23          0.45-1.00                 Markets      0.45      1.00  Paphos
24         4.00-12.00                 Markets      4.00     12.00  Paphos
25          0.83-1.50                 Markets      0.83      1.50  Paphos
26          1.00-3.00                 Markets      1.00      3.00  Paphos
27          4.50-5.81                 Markets      4.50      5.81  Paphos
29          1.50-1.50          Transportation      1.50      1.50  Paphos
30        40.00-45.00          Transportation     40.00     45.00  Paphos
31         6.00-10.00          Transportation      6.00     10.00  Paphos
32          1.00-2.00          Transportation      1.00      2.00  Paphos
34          1.32-1.82          Transportation      1.32      1.82  Paphos
36  21000.00-29500.00          Transportation  21000.00  29500.00  Paphos
38       90.00-175.00     Utilities (Monthly)     90.00    175.00  Paphos
39          0.04-0.15     Utilities (Monthly)      0.04      0.15  Paphos
40        30.00-50.00     Utilities (Monthly)     30.00     50.00  Paphos
42        45.00-60.00      Sports And Leisure     45.00     60.00  Paphos
43         3.00-25.00      Sports And Leisure      3.00     25.00  Paphos
44         7.00-10.00      Sports And Leisure      7.00     10.00  Paphos
46      220.00-415.00               Childcare    220.00    415.00  Paphos
47    5000.00-7300.00               Childcare   5000.00   7300.00  Paphos
49       50.00-110.00      Clothing And Shoes     50.00    110.00  Paphos
50        20.00-65.00      Clothing And Shoes     20.00     65.00  Paphos
51        40.00-95.00      Clothing And Shoes     40.00     95.00  Paphos
52       40.00-120.00      Clothing And Shoes     40.00    120.00  Paphos
54     450.00-1100.00          Rent Per Month    450.00   1100.00  Paphos
55      350.00-800.00          Rent Per Month    350.00    800.00  Paphos
56     900.00-2000.00          Rent Per Month    900.00   2000.00  Paphos
57     850.00-1500.00          Rent Per Month    850.00   1500.00  Paphos
59    1200.00-2000.00     Buy Apartment Price   1200.00   2000.00  Paphos
60     850.00-1500.00     Buy Apartment Price    850.00   1500.00  Paphos
63          1.75-2.51  Salaries And Financing      1.75      2.51  Paphos

DataFrame from file: Rehovot_numbeo.html
                                                 Item  Average_Price_in_Eur  \
0                        Meal, Inexpensive Restaurant                 15.19
1   Meal for 2 People, Mid-range Restaurant, Three...                 75.96
2      McMeal at McDonalds (or Equivalent Combo Meal)                 11.90
3                   Domestic Beer (0.5 liter draught)                  7.60
4                   Imported Beer (0.33 liter bottle)                  6.71
5                                Cappuccino (regular)                  3.33
6                      Coke/Pepsi (0.33 liter bottle)                  2.53
7                           Water (0.33 liter bottle)                  2.13
9                           Milk (regular), (1 liter)                  1.55
10                   Loaf of Fresh White Bread (500g)                  1.47
11                                Rice (white), (1kg)                  2.38
12                                Eggs (regular) (12)                  3.25
13                                 Local Cheese (1kg)                 14.65
14                              Chicken Fillets (1kg)                  9.48
15  Beef Round (1kg) (or Equivalent Back Leg Red M...                 19.79
16                                       Apples (1kg)                  3.00
17                                       Banana (1kg)                  2.25
18                                      Oranges (1kg)                  1.96
19                                       Tomato (1kg)                  1.93
20                                       Potato (1kg)                  1.19
21                                        Onion (1kg)                  1.14
22                                   Lettuce (1 head)                  1.58
23                           Water (1.5 liter bottle)                  0.86
24                         Bottle of Wine (Mid-Range)                 11.39
25                   Domestic Beer (0.5 liter bottle)                  2.15
26                  Imported Beer (0.33 liter bottle)                  2.47
27                      Cigarettes 20 Pack (Marlboro)                  9.62
29                   One-way Ticket (Local Transport)                  1.47
30                       Monthly Pass (Regular Price)                 55.70
31                         Taxi Start (Normal Tariff)                  7.09
32                           Taxi 1km (Normal Tariff)                  1.65
34                                 Gasoline (1 liter)                  1.75
35  Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...              35447.72
36  Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...              37979.70
38  Basic (Electricity, Heating, Cooling, Water, G...                222.80
40  Internet (60 Mbps or More, Unlimited Data, Cab...                 24.19
42              Fitness Club, Monthly Fee for 1 Adult                 58.24
43              Tennis Court Rent (1 Hour on Weekend)                 31.65
44              Cinema, International Release, 1 Seat                 10.13
46  Preschool (or Kindergarten), Full Day, Private...                824.70
49             1 Pair of Jeans (Levis 501 Or Similar)                 98.33
50   1 Summer Dress in a Chain Store (Zara, H&M, ...)                 45.15
51           1 Pair of Nike Running Shoes (Mid-Range)                104.90
52               1 Pair of Men Leather Business Shoes                129.13
54               Apartment (1 bedroom) in City Centre                854.54
55            Apartment (1 bedroom) Outside of Centre                727.94
56              Apartment (3 bedrooms) in City Centre               1326.76
57           Apartment (3 bedrooms) Outside of Centre               1180.54
59  Price per Square Meter to Buy Apartment in Cit...               5317.16
60  Price per Square Meter to Buy Apartment Outsid...               5317.16
63  Mortgage Interest Rate in Percentages (%), Yea...                  4.10

                Range                Category   Minimum   Maximum     city
0         13.93-25.32             Restaurants     13.93     25.32  Rehovot
1        63.30-126.60             Restaurants     63.30    126.60  Rehovot
2         10.63-13.67             Restaurants     10.63     13.67  Rehovot
3           6.84-8.36             Restaurants      6.84      8.36  Rehovot
4           3.80-8.10             Restaurants      3.80      8.10  Rehovot
5           2.53-3.80             Restaurants      2.53      3.80  Rehovot
6           2.03-3.04             Restaurants      2.03      3.04  Rehovot
7           1.77-2.53             Restaurants      1.77      2.53  Rehovot
9           1.27-1.77                 Markets      1.27      1.77  Rehovot
10          0.95-2.37                 Markets      0.95      2.37  Rehovot
11          2.03-2.53                 Markets      2.03      2.53  Rehovot
12          2.99-3.65                 Markets      2.99      3.65  Rehovot
13        10.13-25.32                 Markets     10.13     25.32  Rehovot
14         7.09-12.66                 Markets      7.09     12.66  Rehovot
15        12.66-25.32                 Markets     12.66     25.32  Rehovot
16          2.28-3.80                 Markets      2.28      3.80  Rehovot
17          1.52-3.29                 Markets      1.52      3.29  Rehovot
18          1.01-3.04                 Markets      1.01      3.04  Rehovot
19          1.27-2.79                 Markets      1.27      2.79  Rehovot
20          0.76-2.03                 Markets      0.76      2.03  Rehovot
21          0.76-1.49                 Markets      0.76      1.49  Rehovot
22          1.01-2.53                 Markets      1.01      2.53  Rehovot
23          0.51-2.53                 Markets      0.51      2.53  Rehovot
24         7.60-20.26                 Markets      7.60     20.26  Rehovot
25          1.27-3.04                 Markets      1.27      3.04  Rehovot
26          1.52-6.33                 Markets      1.52      6.33  Rehovot
27         9.24-10.13                 Markets      9.24     10.13  Rehovot
29          1.39-1.52          Transportation      1.39      1.52  Rehovot
30        40.51-70.90          Transportation     40.51     70.90  Rehovot
31         3.04-11.39          Transportation      3.04     11.39  Rehovot
32          0.76-2.53          Transportation      0.76      2.53  Rehovot
34          1.60-1.97          Transportation      1.60      1.97  Rehovot
35  35447.72-35447.72          Transportation  35447.72  35447.72  Rehovot
36  35447.72-37979.70          Transportation  35447.72  37979.70  Rehovot
38      126.60-295.93     Utilities (Monthly)    126.60    295.93  Rehovot
40        20.26-30.38     Utilities (Monthly)     20.26     30.38  Rehovot
42       25.07-101.28      Sports And Leisure     25.07    101.28  Rehovot
43        25.32-37.98      Sports And Leisure     25.32     37.98  Rehovot
44         8.86-10.13      Sports And Leisure      8.86     10.13  Rehovot
46      759.59-911.51               Childcare    759.59    911.51  Rehovot
49       48.11-113.94      Clothing And Shoes     48.11    113.94  Rehovot
50        30.38-50.64      Clothing And Shoes     30.38     50.64  Rehovot
51       88.62-126.60      Clothing And Shoes     88.62    126.60  Rehovot
52       88.62-202.56      Clothing And Shoes     88.62    202.56  Rehovot
54      759.59-911.51          Rent Per Month    759.59    911.51  Rehovot
55      633.00-759.59          Rent Per Month    633.00    759.59  Rehovot
56    1265.99-1645.79          Rent Per Month   1265.99   1645.79  Rehovot
57     962.15-1392.59          Rent Per Month    962.15   1392.59  Rehovot
59    4557.56-6329.95     Buy Apartment Price   4557.56   6329.95  Rehovot
60    4557.56-6329.95     Buy Apartment Price   4557.56   6329.95  Rehovot
63          2.46-5.00  Salaries And Financing      2.46      5.00  Rehovot

DataFrame from file: Rishon-Leziyyon_numbeo.html
                                                 Item  Average_Price_in_Eur  \
0                        Meal, Inexpensive Restaurant                 16.46
1   Meal for 2 People, Mid-range Restaurant, Three...                 63.30
2      McMeal at McDonalds (or Equivalent Combo Meal)                 12.66
3                   Domestic Beer (0.5 liter draught)                  6.08
4                   Imported Beer (0.33 liter bottle)                  5.06
5                                Cappuccino (regular)                  3.08
6                      Coke/Pepsi (0.33 liter bottle)                  2.24
7                           Water (0.33 liter bottle)                  1.72
9                           Milk (regular), (1 liter)                  1.46
10                   Loaf of Fresh White Bread (500g)                  2.22
11                                Rice (white), (1kg)                  2.53
12                                Eggs (regular) (12)                  3.18
13                                 Local Cheese (1kg)                 14.03
14                              Chicken Fillets (1kg)                  8.65
15  Beef Round (1kg) (or Equivalent Back Leg Red M...                 17.22
16                                       Apples (1kg)                  2.52
17                                       Banana (1kg)                  1.76
18                                      Oranges (1kg)                  1.51
19                                       Tomato (1kg)                  1.54
20                                       Potato (1kg)                  1.29
21                                        Onion (1kg)                  1.05
22                                   Lettuce (1 head)                  2.28
23                           Water (1.5 liter bottle)                  1.14
24                         Bottle of Wine (Mid-Range)                 10.13
25                   Domestic Beer (0.5 liter bottle)                  2.11
26                  Imported Beer (0.33 liter bottle)                  2.79
27                      Cigarettes 20 Pack (Marlboro)                  8.86
29                   One-way Ticket (Local Transport)                  1.49
30                       Monthly Pass (Regular Price)                 54.18
31                         Taxi Start (Normal Tariff)                  2.91
33                 Taxi 1hour Waiting (Normal Tariff)                 23.44
34                                 Gasoline (1 liter)                  1.78
35  Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...              35917.28
36  Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...              35785.32
38  Basic (Electricity, Heating, Cooling, Water, G...                210.25
39  1 min. of Prepaid Mobile Tariff Local (No Disc...                  0.07
40  Internet (60 Mbps or More, Unlimited Data, Cab...                 27.01
42              Fitness Club, Monthly Fee for 1 Adult                 58.02
43              Tennis Court Rent (1 Hour on Weekend)                  8.86
44              Cinema, International Release, 1 Seat                 12.41
46  Preschool (or Kindergarten), Full Day, Private...                753.26
49             1 Pair of Jeans (Levis 501 Or Similar)                 97.06
50   1 Summer Dress in a Chain Store (Zara, H&M, ...)                 57.39
51           1 Pair of Nike Running Shoes (Mid-Range)                113.94
52               1 Pair of Men Leather Business Shoes                122.38
54               Apartment (1 bedroom) in City Centre                759.59
55            Apartment (1 bedroom) Outside of Centre                717.39
56              Apartment (3 bedrooms) in City Centre               1308.19
57           Apartment (3 bedrooms) Outside of Centre               1194.25
59  Price per Square Meter to Buy Apartment in Cit...               6751.95
60  Price per Square Meter to Buy Apartment Outsid...               5823.55
63  Mortgage Interest Rate in Percentages (%), Yea...                  3.78
